.DS_Store
node_modules
coverage
build
.idea/
.vscode/
.eslintcache

part10/rate-repository-app/.expo/
part10/rate-repository-app/.gitignore
part10/rate-repository-api/.env
part10/rate-repository-api/.env.local
part10/rate-repository-app/.env
part10/rate-repository-app/.env.local
part10/rate-repository-app/node_modules

./prettierignore
./eslintignore
./gitattribute

.DS_Store
node_modules
coverage
build
.idea/
.vscode/
.eslintcache

part10/rate-repository-app/.expo/
part10/rate-repository-app/.gitignore
part10/rate-repository-api/.env
part10/rate-repository-api/.env.local
part10/rate-repository-app/.env
part10/rate-repository-app/.env.local
part10/rate-repository-app/node_modules
part10/rate-repository-api/node_modules

./prettierignore
./eslintignore
./gitattribute

