.DS_Store
node_modules
coverage
build
.idea/
.vscode/
.eslintcache

./part10/.expo/
./part10/.gitignore
./part10/node_modules
./part10/rate-repository-api/.env
./part10/rate-repository-api/.env.local

./prettierignore
./eslintignore
./gitattribute
